<div
  class="bg-neutral-50 py-20 px-6 text-center text-neutral-800 dark:bg-neutral-700 dark:text-neutral-200"
>
  <h1 class="mb-6 text-5xl font-bold">Github Projects</h1>
  <h3 class="mb-8 text-3xl font-bold">
    The following are a few projects I have built:
  </h3>
</div>

<ng-container *ngIf="githubRepos$ | async as repos">
  <!-- <pre *ngFor="let repository of repos">{{ repository | json }}</pre> -->
  <!-- component -->
  <section class="flex flex-wrap justify-center gap-4">
    <div
      *ngFor="let repo of repos"
      class="h-36 flex items-center justify-center"
    >
      <!-- Card -->
      <a
        href="#"
        class="h-full w-96 bg-slate-900 border rounded-lg border-gray-700 p-5 shadow hover:bg-gray-700 delay-100 duration-200"
      >
        <!-- Header -->
        <div class="flex flex-row">
          <img src="https://picsum.photos/40/40" class="rounded" />
          <p class="ml-3">
            <span class="text-gray-500 font-semibold">{{
              repo?.owner?.login
            }}</span>
            <span class="text-gray-300 font-semibold">{{ repo.name }}</span>
          </p>
        </div>

        <!-- Content -->
        <p class="text-xs text-gray-500 mt-3">{{ repo.description }}}</p>
      </a>
    </div>
  </section>
</ng-container>
